.card {
    position: relative;
    width: 300px;
    height: 200px;
    top: 30%;
    background-color: #877eff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.card p {
    color: #ffffff;
}

.camera-loader {
    margin-top: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.camera {
    width: 100px;
    /* Adjust size as needed */
    height: 80px;
    /* Adjust size as needed */
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.lens {
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.loader-circle {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loaderAnimation 0.8s ease-in-out infinite alternate;
}

@keyframes loaderAnimation {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1);
    }
}